<!DOCTYPE html>
<html>
<head>
  <title>CodingTask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  Upload New Batch:
  <%= form_for @batch do |f| %>
    <%= f.file_field :input %><br>
    <%= f.submit "Submit Batch" %>
  <% end %>

  <%= yield %>

</body>
</html>
